{%load static%}
        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__container container grid">
                <div>
                    <a href="#" class="footer__logo">
                        <img src="{% static '/img/logo-vichama.png'%}" alt="logo image">
                    </a>

                    <p class="footer__description">
                        La comida para el cuerpo no es <br>
                        suficiente. Debe haber alimento <br> 
                        para el alma.
                    </p>
                </div>

                <div class="footer__content">
                    <!-- <div>
                        <h3 class="footer__title">Main menu</h3>
                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Nosotros</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Ofertas</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Noticias</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Videos</a>
                            </li>
                        </ul>
                    </div> -->

                    <div>
                        <h3 class="footer__title">Información</h3>
                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Contáctanos</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Pedidos</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">Reservación</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link"></a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Dirección</h3>
                        <ul class="footer__information">
                            <li>
                                <a href="#" class="footer__link">Calle Saturno 182 <br>
                                Los Olivos</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link">8:00 a.m - 11:00 p.m</a>
                            </li>

                            <li>
                                <a href="#" class="footer__link"></a>
                            </li>

                            <li>
                                <a href="#" class="footer__link"></a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">Redes Sociales</h3>
                        <ul class="footer__social">
                            <a href="#" target="_blank" class="footer__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>

                            <a href="#" target="_blank" class="footer__social-link">
                                <i class="ri-whatsapp-fill"></i>
                            </a>

                            <a href="#" target="_blank" class="footer__social-link">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </ul>
                    </div>
                </div>
                <img src="{% static '/img/leaf-branch-4.png'%}" alt="footer image" class="footer__leaf">
            </div>

            <div class="footer__info container">
                <div class="footer__card">
                    <img src="{% static '/img/footer-card-1.png'%}" alt="footer image">
                    <img src="{% static '/img/footer-card-2.png'%}" alt="footer image">
                    <img src="{% static '/img/footer-card-3.png'%}" alt="footer image">
                </div>

                <!-- <span class="footer__copy"></span> -->
            </div>

        </footer>

        <!--========== SCROLL UP ==========-->

        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="{% static '/js/scrollreveal.min.js'%}"></script>

        <!--=============== MAIN JS ===============-->
        <script src="{% static '/js/main.js'%}"></script>
    </body>
</html>